.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
}

.strict-horizontal {
  display: flex;
  flex-flow: row;
  flex-wrap: no-wrap;
  text-align: left;
}


.myButton {
    display: flex;
    background:url(clear-32.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    flex-grow: 1;
}

.myLabel {
    display: flex;
    background-color: black;
    color: gold:
    flex-grow: 1;
}

.myDropdown {
    display: flex;
    background-color: black;
    color: gold;
    width: 300px;
    flex-grow: 4;
}

.filter-notifier {
    display: flex;
    flex-grow: 1;
}


.sort-notifier {
    display: flex;
    flex-grow: 1;
}

.h1, .h2, .h3 {
    text-align: left;
    background-color: gold;
    color: black;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: black;
}

.footer {
  background: black;
}

.main {
  text-align: left;
  background: black;
}

.aside-1 {
  background: gold;
  display: flex;
  flex-flow: col wrap;
  text-align: left;
}

.aside-2 {
  background: black;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}