.custom-tabs-container {
    width: 100%;
}
.custom-tabs {
    background-color: black;
    color: orange;
    border-top-left-radius: 3px;
    padding: 0px 24px;
    border-bottom: 1px solid orange;
}

.tab {
    background-color: black;
    color: orange;
}

.mytab {
    background-color: black;
    color: orange;
}

.crap-tab {
    background-color: black;
    backgroundColor: black;
    color: orange;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.mytab-selected {
    color: yellow;
    background-color: black;
}


.craptab-selected{
    backgroundColor: black;
    background: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid yellow !important;
}