dash~=1.13.4
dash-core-components~=1.10.1
dash-html-components~=1.0.3
dash-table~=4.8.1
dash-renderer~=1.5.1
pandas~=1.0.5
requests~=2.24.0
setuptools~=47.1.1
numpy~=1.18.5
python-dateutil~=2.8.1
gunicorn>=19.7.1
flask~=1.1.2
ujson~=3.0.0
urllib3~=1.25.9
psutil~=5.7.0
plotly~=4.8.2
humanize~=2.5.0

boto3~=1.14.17
botocore~=1.17.17
pause~=0.2