@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap');

body {
 font-family: "Fira Sans", "Roboto", "Tahoma", "Calibri", sans-serif;
 font-size: 16px; line-height: 18px;
}

del {
  color: red;
  text-decoration: none;
}

.myButton {
    background:url(clear-32.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    padding-right: 50px;
    padding-left: 10px;
    vertical-align: middle;
}

.clean {
    vertical-align: top;
}

.clean2 {
    vertical-align: top;
    min-width: 350px;
}
